<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"className":"content-area content-area--narrow","tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group content-area content-area--narrow">

	<!-- wp:shortcode -->
	[smg_breadcrumbs]
	<!-- /wp:shortcode -->

	<!-- wp:post-title {"level":1,"className":"entry-title"} /-->

	<!-- wp:group {"className":"entry-content","layout":{"type":"default"}} -->
	<div class="wp-block-group entry-content">
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
